html, body {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
}

p {
    font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6, span {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 3em;
}

h2 {
    font-weight: 600;
    font-size: 2em;
}

h3 {
    font-weight: 500;
    font-size: 1.4em;
}

h6 {
    font-weight: 400;
    font-size: 0.9em;
}

p.feature {
    font-weight: 400;
    font-size: 1.5em;
}

.close-header {
    margin-top: 0;
    margin-block-end: 0;
}

.closer-header {
    margin-block-end: 0.3em;
    margin-bottom: 0.3em!important;
}

a.link {
    text-decoration: none!important;
}

a.link.dark:hover {
    color: #575757;
    border-bottom: .2rem solid #575757!important;
}

a.link.light:hover {
    color: #eeeeee;
    border-bottom: .2rem solid #eeeeee!important;
}

*.content-colour {
    padding-top: 2em;
    background-color: white!important;
    color: #222222!important;
}

main#main-content, body {
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
}

main#main-content:focus {
    outline: none;
}

/* Nav Bar */

section.nav-section {
    margin: 5% 5%;
}

section.nav-section a.logo {
    vertical-align: middle;
}

nav.bar {
    float: right;
    left: auto;
    right: auto;
    overflow: hidden;
    vertical-align: middle;
}

nav.bar .nav-item:hover,
nav.bar .mega-menu:hover,
.mega-menu .mega-menu-button:hover {
    cursor: pointer;
}

nav.bar a,
.mega-menu {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
}

.mega-menu {
    overflow: hidden;
}

.mega-menu .mega-menu-button {
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

nav.bar a.nav-item:hover {
    cursor: pointer;
    border-bottom: .2rem solid #ffff!important;
}

.mega-menu-content {
    display: none;
    position: absolute;
    width: 19%;
    z-index: 1;
  }
  
  .mega-menu:hover .mega-menu-content {
    display: block;
  }

ul.mega-menu-list {
    padding-inline-start: 5px;
}


li.nav{
    list-style: none;
    text-align: left;
	margin: 0;
	padding-left: 0;
}

.nav-logo {
    max-height: 4.5rem;
    object-fit: contain;
    margin-right: 4%;
    display: inline;
    vertical-align: middle;
}

a.nav-list-item {
    text-decoration: none!important;
    margin-bottom: 10px;
}

a.nav-list-item:hover {
    border-bottom: .2rem solid #222222!important;
}

/* Intro Banner */

.intro-banner-wrapper {
    padding: 2em 40% 5% 15%;
}

/* Section Banner */
.banner-sub-title {
    font-weight: 400;
    font-size: 1.5em;
}

section.section-banner.as-header .section-banner-wrapper {
    padding: 2em 40% 0 12%;
}

.section-banner-wrapper {
    padding: 2em 40% 5% 12%;
}

a.text-button {
    vertical-align: bottom;  
}

/* Feature Cards */

.small-card {
    height: 15em;
}

.tall-card {
    height: 25em;
}

.feature-banner-container {
    margin: 2em 15% 5% 12%;
}

.feature-card.big {
    display: inline-block;
    vertical-align: middle;
    min-height: 3em;
    width: 29%;
    margin-right: 2em;
    vertical-align: top;
}

.feature-card.title {
    margin: 3.5em 2em 2em 2em;
}

.feature-card.content {
    margin: 0 2em 2em 2em;
    line-height: 1.6em;
}

/* Full Bleed Banner */

section.full-bleed {
    margin: 2em 0 5% 0;
    left: 0;
    right: 0;
}

.intro-banner-wrapper {
    padding: 2em 40% 5% 15%;
}

/* 1:2 One Image Two Text */
.one-image-two-text-container {
    margin: 2em 15% 5% 12%;
    display: inline-block;
    vertical-align: top;
}

.one-image {
    margin: 0 0 0 2em;
    width: 30%;
    text-align: left;
    float: left;
}

.one-image-title {
    margin-bottom: 2em;
    margin-right: 2em;
}

.two-text {
    line-height: 1.2em;
    width: 60%;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: initial;
    float: right;
}

/* Text Top and Metrics Bottom Banner */

.text-top-metrics-bottom-container {
    padding: 2em 13em 5em 6em;
    vertical-align: top;
}

.text-top  {
    height: 15em;
    margin-top: 5%;
}

.text-top-left  {
    height: 15em;
    width: 30%;
    text-align: left;
    float: left;
}

.text-top-right {
    line-height: 1.4em;
    width: 68%;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: initial;
    float: right;
}

.text-top-right > p {
    margin-block-start: 0;
}

.metrics-bottom  {
    height: 15em;
}

/* Big side feature green */

section.pop-out {
    float: right;
    margin-bottom: 1%;
    min-height: 20em;
    width: 90%;
}

.big-side-feature-container {
    padding: 2em 0 5em 6em;
    display: inline-block;
    vertical-align: top;
    margin-top: 5%;
    height: 100%;
    width: 100%;
    right: 0;
}

.big-side-left  {
    height: 100%;
    width: 37%;
    padding-top: 4em;
    padding-bottom: 4em;
    text-align: left;
    display: inline-block;
    margin-bottom: 2em;
    margin-right: 2em;
}

.big-side-subtitle {
    line-height: 1.4em;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: initial;
}

.big-side-right{
    height: 100%;
    display: inline-block;
}

.big-side-right img{
    object-fit: cover;
}



.big-side-right > p {
    margin-block-start: 0;
}

/* Resource Features */

.resource-feature-banner {
    margin: 2em 15% 5% 12%;
    display: inline-block;
    vertical-align: top;
}

/* Contact us banner */

section.contact-us-banner {
    float: right;
    padding-right: 60%;
    margin-bottom: 1%;
    min-height: 20em;
}

.contact-us-container {
    padding: 2em 0 5em 6em;
    display: inline-block;
    vertical-align: top;
    margin-top: 5%;
    height: 100%;
    width: 100%;
}

.contact-us-subtitle span {
    font-size: 1.3rem;
}

/* People Cards */

.small-card {
    height: 15em;
}

.tall-card {
    height: 25em;
}

.people-container {
    margin: 0 15% 5% 12%;
}

.people-card.big {
    display: inline-block;
    vertical-align: middle;
    min-height: 3em;
    height: 100%;
    width: 20%;
    margin-right: 2em;
    vertical-align: top;
}

img.people-profile {
    object-fit: cover;
    width: 100%;
    height: 23rem;
    display: block;
}

.people-card.title {
    width: 100%;
}

.people-card.content {
    margin-bottom: 2em;
    line-height: 1.6em;
}

/* Post list */

.post-list-container {
    margin: 0 15% 5% 12%;
}

.inner-wrapper {
    margin: 1%;
}

.post-item {
    border: 0;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 29%;
    background-color: #fff;
    padding: 0;
    margin-right: 2em;
}

.post-card-top {
    width: 100%;
}

.post-item-img {
    vertical-align: top!important;
    border: 0;
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.post-img-replacement {
    border: 0;
    width: 100%;
    height: 20vh;
    background-color: #b8b8b8;
    text-align: center;
}

img.img-replacement {
    width: 60%;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}

.post-card-content {
    padding: 1em;
}



.tag-item {
    background-color: #e7e7e7;
    color: #222222;
    display: inline-block;
    padding: .2em 0.8em;
    border-radius: 1em 1em;
    font-size: 0.9rem;
    margin-bottom: 0;
    text-transform: capitalize;
}

/* News feed */


.news-list-container {
    margin: 0 15% 5% 12%;
}

.news-item {
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 2px 2px 5px rgb(223, 223, 223);
    border-radius: 2px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #fff;
    padding: 0;
    margin-right: 2em;
}

.news-card-top {
    width: 100%;
}

.news-item-img {
    vertical-align: top!important;
    border: 0;
    width: 100%;
    height: 19vh;
    object-fit: cover;
}

.news-img-replacement {
    border: 0;
    width: 100%;
    height: 10vh;
    background-color: #b8b8b8;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.news-img-replacement img.img-replacement {
    width: 26%;
    height: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    object-fit: contain;
}

.news-card-content {
    padding: 1em;
    color: #474747;
}


/* Rss feeds */

.post-list-title a,
.news-list-title a,
.rss-post-list .feed-item-title a {
    color: #222222;
    text-decoration: none;
}

.rss-post-list {
    background-color: #fff;
    padding: 2%;
}

.rss-post-list .feed-item-title:nth-child(1) {
    border-top: none;
    padding-top: 0;
}

.rss-post-list .feed-item-title {
    border-top: 1px solid #dadada;
    padding-top: 1em;
    padding-bottom: 1em;
}

.rss-post-list .feed-item-desc {
    color: #474747;
}

.post-list-title a h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}

p.post-excerpt,
.post-list-excerpt p,
.rss-post-list .feed-item-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    margin-block-start: 0;
    margin-block-end: 0.5em;
}

.post-list-author {
    color: #474747;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}

/* Resource post list */
.resource-list-container {
    margin: 0 15% 5% 12%;
}

.resource-item {
    border: 0;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 40vh;
    background-color: #fff;
    padding: 0;
    margin-right: 2em;
}

.resource-card-left {
    width: 20%;
    display: inline-block;
    float: left;
    vertical-align: top;
    height: 100%;
}

.resource-card-left img.img-replacement {
    padding-top: 40%;
}

.resource-item-img {
    vertical-align: top!important;
    border: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resource-img-replacement {
    border: 0;
    width: 100%;
    height: 100%;
    background-color: #b8b8b8;
    text-align: center;
}

.resource-card-content {
    width: 74%;
    padding: 1em;
    display: inline-block;
    vertical-align: top;
    float: right;
}

.resource-list-title a {
    color: #222222;
    text-decoration: none;
}

.resource-list-title a h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}

p.resource-excerpt,
.resource-list-excerpt p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    margin-block-start: 0;
    margin-block-end: 0.5em;
}

.resource-list-author {
    color: #474747;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}

/* Resources Pages */

.news-page-container {
    margin: 0 15% 5% 12%;
    padding-bottom: 5%;
}

.news-page-img {
    margin-top: 1em;
    margin-bottom: 1em;
}

img.news-img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

.news-page-intro-quote {
    font-size: 1.5em;
    color: #474747;
    margin-bottom: 1em;
}

.embed-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}



.news-page-supp-line {
  border-top: 1px solid #e0e0e0;
  margin-top: 2em;
}

.news-page-supp-info p {
  color: #474747;
}

/* SDG section */
.sdg-section {
    margin: 0 15% 0 12%;
    padding-bottom: 4%;
}

.sdg-section img {
    display: inline;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 12%;
}
