
html {
    background-color: #1F5382;
}

p {
    font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

.light {
    color: white;
}

.dark {
    color: #575757;
}

/* Nav Bar */
nav.bar {
    margin: 4.5rem 3.6rem 4.5rem 3.6rem;
}

.nav-item {
    margin: 1.25rem 1.5rem 0 1.5rem;
    display: inline;
}
