{% if sectionList.length %}
  <section class="post-list">
    <div class="inner-wrapper">
      <ol class="post-list__items">
        {% for item in sectionList %}
        9{{ item.data.title }}
            <div class="post-list__item wrapper">
              <div class="post-list__item left-2 wrapped-item">
                <img src="/{{ item.data.featureimage }}" class"post-image" />
                dddd
              </div>
              <div class="post-list__item right-1 wrapped-item">
                <p class="post-sub-title text-500 gap-top-300">{{ item.data.maintag }}</p>
                <h3 class="h3-post-title">
                  <a href="{{ item.url }}" class="link post-title" rel="bookmark">{{ item.data.title }}</a>
                </h3>
                <p class="post-caption">{{ item.data.challenge }}</p> 
                <p class="post-sub-text">{{ item.data.whatstatement }}</p> 
                <a href="{{ item.url }}" class="link text-button with-arrow" rel="bookmark">READ MORE {% include "icons/arrow.svg" %}</a>
              </div>
            </div>
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}
