<div class="big-side-feature-container">
        <div class="split-boxes-50-50-focus-left left feature">
            <div class="big-side-title">
                <h2 class="close-header">{{ header }}</h2>
            </div>
            <div class="banner-sub-title">
                {{ subtitle }}
            </div>
        </div>
        <div class="split-boxes-50-50-focus-left right feature">
            {# <img src="/assets/{{ img }}" class="big-feature-img"/> #}
            {# <div class="map-svg" style="background-image: url(/assets/uploads/kenyaHigh.svg);">
            </div> #}
            <div class="embed-container map">
                {{ featureContent | safe }}
            </div>
        </div>
</div>
