<div class="big-side-feature-container">
        <div class="big-side-left">
            <div class="big-side-title">
                <h2 class="close-header">{{ header }}</h2>
            </div>
            <div class="big-side-subtitle">
                {{ subtitle }}
            </div>
        </div>
        <div class="big-side-right">
            {# <img src="/assets/{{ img }}" class="big-feature-img"/> #}
            <div class="map-svg" style="background-image: url(/assets/uploads/kenyaHigh.svg);">
            </div>
        </div>
</div>
