<div class="big-side-feature-container">
        <div class="split-boxes-50-50-focus-left left feature">
            <div class="big-side-title">
                <h2 class="close-header">{{ header }}</h2>
            </div>
            <div class="banner-sub-title">
                {{ subtitle | safe }}
            </div>
        </div>
        <div class="split-boxes-50-50-focus-left right feature">
            <div class="embed-container map">
                {{ featureContent | safe }}
            </div>
        </div>
</div>
