    <div class="inner-wrapper">
      {% for section in sectionList %}
        <a href="{{ section.url }}" class="card-entire-link">
            <ol class="event-item">
                <div class="resource-card-img">
                    {% if section.data.fImage !== "" %}
                      <img src="/assets{{ section.data.fImage }}" class="resource-item-img" /> 
                    {% else %} 
                      <div class="img-replacement">
                        <img src="/assets{{ logo }}" class="img-replacement" />
                      </div>
                    {% endif %}
                </div>
                <div class="event-card-content">
                  <div class="resource-card-content-left">
                  
                      <div class="resource-list-tags">
                          {{ section.data.date | date("MMMM Do YYYY") }}
                      </div>
                      <div class="resource-list-title">
                            <h3>{{ section.data.title }}</h3>
                      </div>
                      <div class="resource-list-author">
                            <i>by {{ section.data.author }}</i>
                      </div>
                      
                    </div>
                </div>
              </ol>
          </a>
      {% endfor %}
    </div>