<div class="section-banner-wrapper">
    <div class="section-banner-title">
      <h1>{{ header }}</h1>
    </div>
    <div class="section-banner-body banner-sub-title">
      <p>{{ content | safe }}</p>
      <a href="{{ buttonlink }}" class="link text-button" rel="bookmark" {% if bgText %} style="color:{{ bgText }}"{% endif %}>{{ buttonText if buttonText else '' }}</a>
    </div>
</div>
