<div class="feature-banner-container">
    {% for obj in item %}
    <div class="feature-card big pop-out" {% if fcolor1 %} style="background-color:{{ fcolor1 }};color:{{ fcolor1Text }}"{% endif %}>
        {# <div class="feature-card title">
            
        </div> #}
        <div class="feature-card content">
        <h3>{{ obj.objTitle }}</h3>
            {{ obj.objective | safe }}
        </div>
    </div>
    {% endfor %}
</div>
