{% set desc = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis mattis dolor, eu dapibus nisi lacinia eu. Fusce id mauris rhoncus, fermentum justo vitae, tempor arcu.'  %}

<div class="feature-banner-container">
    {% for obj in item %}
    <div class="feature-card big green-bg tall-card">
        <div class="feature-card title">
            <h3>{{ obj.objective }}</h3>
        </div>
        <div class="feature-card content">
            {{ desc }}
        </div>
    </div>
    {% endfor %}
</div>
