{% set desc = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis mattis dolor, eu dapibus nisi lacinia eu. Fusce id mauris rhoncus, fermentum justo vitae, tempor arcu.'  %}

<div class="feature-banner-container">
    {% for obj in item %}
    <div class="feature-card big pop-out" {% if fcolor1 %} style="background-color:{{ fcolor1 }};color:{{ fcolor1Text }}"{% endif %}>
        {# <div class="feature-card title">
            
        </div> #}
        <div class="feature-card content">
        <h3>{{ obj.objective }}</h3>
            {{ desc }}
        </div>
    </div>
    {% endfor %}
</div>
