{% if wdefaults.navigation.items %}
<a name="top"></a>
<section class="mobile-nav">
    <nav role="navigation" {% if bgcolor %} style="background-color:{{ bgcolor }}"{% endif %}>
            <div id="menuToggle">
              <input type="checkbox" />
                <span {% if bgText %} style="background:{{ bgText }}"{% endif %}></span>
                <span {% if bgText %} style="background:{{ bgText }}"{% endif %}></span>
                <span {% if bgText %} style="background:{{ bgText }}"{% endif %}></span>
            <ul id="bar">
            <ul class="nv-item"><a href="/" class="link"><p class="small-squash mobile-nav-itm">{{ wdefaults.commonWords.homepage }}</p></a></ul>
            {% for item in wdefaults.navigation.items %}
                <ul class="nv-item">
                {% if item.megaMenu == true %}
                        <div class="nav-header small-squash">{{ item.text }}</h7>
                        {% for drop in item.menuItems %} 
                            <li class="mobile-nav six small-squash mobile-nav-itm drops"><a href="{{ drop.url }}" {% if external == true %}target="_blank"{% endif %} class="link">{{ drop.text }}</a></li>
                        {% endfor %}
                {% else %}
                    <a href="{{ item.url }}" {% if external == true %}target="_blank"{% endif %} class="link"><p class="small-squash mobile-nav-itm">{{ item.text }}</p></a>
                {% endif %}
                </ul>
              {% endfor %}
            </ul>
           </div>
           <div class="mobile-nav-logo">
                <a href="/" class="link">
                <img src="/assets{{ logo }}" class="nav-logo"/>
                </a>
            </div>
    </nav>
</section>
<section class="nav-section">
            <a href="/" class="link">
            <img src="/assets{{ logo }}" class="nav-logo"/>
            </a>
  <nav class="bar">
    <ul class="nav-ul">
        <li class="nav-btns">
            <a href="/" class="link nav-item"{{ 'aria-current=page' if page.url == '/' | safe }} {% if bgText %} style="color:{{ bgText }}"{% endif %}>
                <span class="visually-hidden six">{{ wdefaults.commonWords.homepage }}</span>
            </a>
        </li>
        {% for item in wdefaults.navigation.items %}
            {% set relAttribute = '' %}
            {% if item.rel %}
                {% set relAttribute = ' rel="' + item.rel + '"' %}
            {% endif %}
        <li class="nav-btns">
            {% if item.megaMenu == true %}
                <span class="six" {% if bgText %} style="color:{{ bgText }}"{% endif %}>{{ item.text }}{% include "src/assets/images/arrow.svg" %}</span>
                <ul class="drop-down-submenu" {% if megaMenuBg %} style="background-color:{{ megaMenuBg }}"{% endif %}>
                    {% for drop in item.menuItems %}  
                    <li class="nav-drops">
                        <a href="{{ drop.url }}" {% if external == true %}target="_blank"{% endif %} class="link" {% if megaMenuFontColor %} style="color:{{ megaMenuFontColor }}"{% endif %}>
                            <span class="seven">{{ drop.text }}<span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                {% set currentAttribute = '' %}
                {% if page.url == item.url %}
                    {% set currentAttribute = ' aria-current="page"' %}
                {% endif %}

                <a href="{{ item.url }}" {% if external == true %}target="_blank"{% endif %} class="link nav-item"{{ relAttribute | safe }}{{ currentAttribute | safe }} {% if bgText %} style="color:{{ bgText }}"{% endif %}>
                    <span class="six">{{ item.text }}</span>
                </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
  </nav>
  </section>
{% endif %}
