    <div class="inner-wrapper">
      {% for section in sectionList %}
        <ol class="post-item">
            <div class="post-card-top">
              <a href="{{ section.url }}">
                {% if section.data.fImage !== "" %}
                  <img src="/assets{{ section.data.fImage }}" class="post-item-img" /> 
                {% else %} 
                  <div class="post-img-replacement">
                    <img src="/assets{{ logo }}" class="img-replacement" />
                  </div>
                {% endif %}
                
              </a>
            </div>
            <div class="post-card-content">
              <div class="post-list-tags">
                {% for tag in section.data.tags %}
                  <a href="/tags/{{ tag }}/"><p class="tag-item">
                    {{ tag }}
                  </p></a>
                {% endfor %}
              </div>
              <div class="post-list-title">
                    <a href="{{ section.url }}"><h3>{{ section.data.title }}</h3></a>
              </div>
              <div class="post-list-excerpt">
                <p class="post-excerpt">
                    {{ section.data.quote }}
                </p>
              </div>
              <div class="post-list-author">
                    <i>Written by {{ section.data.author }}</i>
              </div>
          </ol>
      {% endfor %}
    </div>