<div class="resource-feature-banner">
    <div class="split-boxes-30-70 left align-items-top">
        <div class="one-image-title">
            <h6 class="close-header">{{ pretext }}</h6>
            <h2 class="close-header">{{ header }}</h2>
        </div>
        <div class="one-image-image">
        {% if host.hiLogo | length !== 0 %}
            <div class="white-bg-logo">
                <img src="/assets{{ host.hiLogo }}" class="nav-logo"></img>
            </div>
        {% endif %}
        </div>
    </div>
    <div class="split-boxes-30-70 right align-items-top">
      <p class="four">{{ actionContent | safe }}</p>
        {% if oneTwoCta | length !== 0 %}
            {% set cta = oneTwoCta %}
            {% include "partials/components/cta-button.njk" %}
        {% endif %}
    </div>
</div>

