  <div class="pagination-nav">
  {{ pagination.page.previous }} YOYOYO
  {{ pagination.page.next }} YOYOYO
  {{ pagination.page }} PAGES
  {{ pagination.href.next }}
  {{ pagination.href.previous }}
      <li class="pagination-option">{% if pagination.pageNumber > 0 %}<a href="{{ pagination.href.previous }}" class="link">{{ wdefaults.commonWords.previousPage }} {{ pagination.page.previous }}</a>{% endif %}</li>
      <li class="pagination-option">{% if pagination.href.next %}<a href="{{ pagination.href.next }}" class="link">YO{{ wdefaults.commonWords.nextPage }}</a>{% else %}{% endif %}</li>
  </div>
