<div class="people-container">
    <div class="people-wrapper">
        {% for person in people %}
        {% set fcolor1 = colourscheme.fcolor1 %}
        <div class="people-card big light small-card">
            <div class="people-card title closer-header">
                <img src="/assets/{{ person.photo }}" class="people-profile"/>
            </div>
            <div class="people-card content">
                <h3 class="closer-header">{{ person.name }}</h3>
                {{ person.networkposition }}
                {{ person.position }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
