    <div class="inner-wrapper">
      {% for section in sectionList %}
        <ol class="resource-item">
            <div class="resource-card-img">
                {% if section.data.fImage !== "" %}
                  <img src="/assets{{ section.data.fImage }}" class="resource-item-img" /> 
                {% else %} 
                  <div class="img-replacement">
                    <img src="/assets{{ logo }}" class="img-replacement" />
                  </div>
                {% endif %}
              </div>
            <div class="resource-card-content">
              <div class="resource-card-content-left">
                <div class="resource-list-tags">
                  {% for tag in section.data.tags %}
                    <a href="/tags/{{ tag }}/"><p class="tag-item">
                      {{ tag }}
                    </p></a>
                  {% endfor %}
                </div>
                  <div class="resource-list-title">
                        <a href="{{ section.url }}"><h3>{{ section.data.title }}</h3></a>
                  </div>
                  <div class="resource-list-excerpt">
                    <p class="resource-excerpt">
                        {{ section.data.desc }}
                    </p>
                  </div>
                  <div class="resource-list-author">
                        <i>Written by {{ section.data.author }}</i>
                  </div>
                  {% if section.data.ctaURL | length !== 0 %}
                      <a href="{{ section.data.ctaURL }}" class="resource-link">
                              <button class="btn-link">{{ section.data.ctaTitle }}</button>
                      </a>
                  {% endif %}
                </div>
              <div class="resource-card-content-right">
                  {% if section.data.oResources | length !== 0 %}
                    <h4>{{ section.data.oResources }}<h4>
                    <ul>
                  {% for resource in section.data.otherResources %}
                      {% if resource.resourceFile | length !== 0 %}
                        <a href="/assets{{ resource.resourceFile }}">
                          <li class="resource-sub-title"><p>{{ resource.oResourceContent | safe }}</p></li>
                        </a>
                      {% elif resource.resourceURL | length !== 0 %}
                        <a href="{{ resource.resourceURL }}">
                          <li class="resource-sub-title"><p>{{ resource.oResourceContent | safe }}</p></li>
                        </a> 
                      {% else %}
                      {% endif %}
                  {% endfor %}
                  </ul>
                  {% endif %}




              </div>

            </div>
          </ol>
      {% endfor %}
    </div>