<div class="text-top-metrics-bottom-container">
    <div class="text-top">
        <div class="text-top-left">
            <div class="text-top-title">
                <h2 class="close-header">{{ header }}</h2>
            </div>
        </div>
        <div class="text-top-right">
        <p>{{ desc }}</p>
        </div>
    </div>
    <div class="metrics-bottom">
        {% for met in item %}
        <div class="feature-card big metric" {% if fcolor1 %} style="background-color:{{ fcolor1 }};color:{{ fcolor1Text }};"{% endif %}>               
            
            <div class="feature-card content">
            <h1>{{ met.header }}</h1>
                {{ met.desc | safe }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
