<div class="two-half-wrapper">
    <div class="two-half-left">

    </div>
    <div class="two-half-right">
        <div class="two-half-right-info">
            <div class="two-half-right-info title">
                <img src="/assets{{ logo }}" class="contact-us" />
            </div>
            {% if information.networkInfo.address | length !== 0 %}
                <div class="two-half-right-info address">
                    {{ information.networkInfo.address }}
                </div>
                <div class="two-half-right-info directions">
                </div>
            {% endif %}
            <div class="two-half-right-info some-wrapper">
                <div class="two-half-right-info some-items">

                </div>
            </div>
            <div class="two-half-right-info email">
                Contact us at {{ information.networkInfo.networkEmail }}
            </div>
        </div>
        <div class="two-half-right-info copyright-container">
            <div class="two-half-right-info copyright-wrapper">
                <div class="two-half-right-info copyright">
                    &copy; {{ date | date("YYYY") }} {{ information.networkInfo.networkName | safe }}
                </div>
            </div>
        </div>
    </div>
</div>