<!DOCTYPE html>
{% if information.websitecolours.colourtheme == "Theme1" %}
  {% set bgcolor = themes.theme1.bgcolor %}
  {% set bgText = themes.theme1.bgText %}
  {% set bgTextHighlight = themes.theme1.bgTextHighlight %}
  {% set fcolor1 = themes.theme1.fcolor1 %}
  {% set fcolor1Text = themes.theme1.fcolor1Text %}
  {% set fcolor2 = themes.theme1.fcolor2 %}
  {% set fcolor2Text = themes.theme1.fcolor2Text %}
  {% set megaMenuBg = themes.theme1.megaMenuBg %}
  {% set megaMenuFontColor = themes.theme1.megaMenuFontColor %}
  {% set logo = information.networkInfo.whitelogo %}
  {% set hilogo = information.networkInfo.whitehilogo %}
{% elif information.websitecolours.colourtheme == "Theme2" %}
  {% set bgcolor = themes.theme2.bgcolor %}
  {% set bgText = themes.theme2.bgText %}
  {% set bgTextHighlight = themes.theme2.bgTextHighlight %}
  {% set fcolor1 = themes.theme2.fcolor1 %}
  {% set fcolor1Text = themes.theme2.fcolor1Text %}
  {% set fcolor2 = themes.theme2.fcolor2 %}
  {% set fcolor2Text = themes.theme2.fcolor2Text %}
  {% set megaMenuBg = themes.theme2.megaMenuBg %}
  {% set megaMenuFontColor = themes.theme2.megaMenuFontColor %}
  {% set logo = information.networkInfo.logo %}
  {% set hilogo = information.networkInfo.hilogo %}
{% elif information.websitecolours.colourtheme == "Theme3" %}
  {% set bgcolor = themes.theme3.bgcolor %}
  {% set bgText = themes.theme3.bgText %}
  {% set bgTextHighlight = themes.theme3.bgTextHighlight %}
  {% set fcolor1 = themes.theme3.fcolor1 %}
  {% set fcolor1Text = themes.theme3.fcolor1Text %}
  {% set fcolor2 = themes.theme3.fcolor2 %}
  {% set fcolor2Text = themes.theme3.fcolor2Text %}
  {% set megaMenuBg = themes.theme3.megaMenuBg %}
  {% set megaMenuFontColor = themes.theme3.megaMenuFontColor %}
  {% set logo = information.networkInfo.logo %}
  {% set hilogo = information.networkInfo.hilogo %}
{% elif information.websitecolours.colourtheme == "Theme4" %}
  {% set bgcolor = themes.theme4.bgcolor %}
  {% set bgText = themes.theme4.bgText %}
  {% set bgTextHighlight = themes.theme4.bgTextHighlight %}
  {% set fcolor1 = themes.theme4.fcolor1 %}
  {% set fcolor1Text = themes.theme4.fcolor1Text %}
  {% set fcolor2 = themes.theme4.fcolor2 %}
  {% set fcolor2Text = themes.theme4.fcolor2Text %}
  {% set megaMenuBg = themes.theme4.megaMenuBg %}
  {% set megaMenuFontColor = themes.theme4.megaMenuFontColor %}
  {% set logo = information.networkInfo.logo %}
  {% set hilogo = information.networkInfo.hilogo %}
{% elif information.websitecolours.colourtheme == "Theme5" %}
  {% set bgcolor = themes.theme5.bgcolor %}
  {% set bgText = themes.theme5.bgText %}
  {% set bgTextHighlight = themes.theme5.bgTextHighlight %}
  {% set fcolor1 = themes.theme5.fcolor1 %}
  {% set fcolor1Text = themes.theme5.fcolor1Text %}
  {% set fcolor2 = themes.theme5.fcolor2 %}
  {% set fcolor2Text = themes.theme5.fcolor2Text %}
  {% set megaMenuBg = themes.theme5.megaMenuBg %}
  {% set megaMenuFontColor = themes.theme5.megaMenuFontColor %}
  {% set logo = information.networkInfo.logo %}
  {% set hilogo = information.networkInfo.hilogo %}
{% elif information.websitecolours.colourtheme == "Theme6" %}
  {% set bgcolor = themes.theme6.bgcolor %}
  {% set bgText = themes.theme6.bgText %}
  {% set bgTextHighlight = themes.theme6.bgTextHighlight %}
  {% set fcolor1 = themes.theme6.fcolor1 %}
  {% set fcolor1Text = themes.theme6.fcolor1Text %}
  {% set fcolor2 = themes.theme6.fcolor2 %}
  {% set fcolor2Text = themes.theme6.fcolor2Text %}
  {% set megaMenuBg = themes.theme6.megaMenuBg %}
  {% set megaMenuFontColor = themes.theme6.megaMenuFontColor %}
  {% set logo = information.networkInfo.whitelogo %}
  {% set hilogo = information.networkInfo.whitehilogo %}
{% elif information.websitecolours.colourtheme == "Theme7" %}
  {% set bgcolor = themes.theme7.bgcolor %}
  {% set bgText = themes.theme7.bgText %}
  {% set bgTextHighlight = themes.theme7.bgTextHighlight %}
  {% set fcolor1 = themes.theme7.fcolor1 %}
  {% set fcolor1Text = themes.theme7.fcolor1Text %}
  {% set fcolor2 = themes.theme7.fcolor2 %}
  {% set fcolor2Text = themes.theme7.fcolor2Text %}
  {% set megaMenuBg = themes.theme7.megaMenuBg %}
  {% set megaMenuFontColor = themes.theme7.megaMenuFontColor %}
  {% set logo = information.networkInfo.logo %}
  {% set hilogo = information.networkInfo.hilogo %}
{% else %}
  {% set bgcolor = "#0A5A8F" %}
  {% set bgText = "#ffff" %}
  {% set bgTextHighlight = "#575757" %}
  {% set fcolor1 = "#12635E" %}
  {% set fcolor1Text = "#ffff" %}
  {% set fcolor2 = "#EAEAEA" %}
  {% set fcolor2Text = "#575757" %}
  {% set megaMenuBg = "#f9f9f9" %}
  {% set megaMenuFontColor = "#22222" %}
  {% set logo = information.networkInfo.whitelogo %}
  {% set hilogo = information.networkInfo.whitehilogo %}
{% endif %}
<html lang="en" class="no-js" {% if bgcolor %} style="background-color:{{ bgcolor }}"{% endif %}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  <link rel="icon" href="{{ site.faviconPath }}" type="image/png" />
  <script>document.documentElement.classList.remove('no-js');</script>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&family=Lato:wght@400;700&display=swap" rel="stylesheet">  <style>{% include "css/global.css" %}</style>
</head>
<body>
  {% include "partials/global/site-head.njk" %}
  {% block content %}
  {% endblock content %}
</body>
</html>
