<!DOCTYPE html>
{% if wdefaults.websitecolours.colourTheme == "Theme1" %}
  {% set bgcolor = themes.theme1.bgcolor %}
  {% set bgText = themes.theme1.bgText %}
  {% set bgTextHighlight = themes.theme1.bgTextHighlight %}
  {% set fcolor1 = themes.theme1.fcolor1 %}
  {% set fcolor1Text = themes.theme1.fcolor1Text %}
  {% set fcolor2 = themes.theme1.fcolor2 %}
  {% set fcolor2Text = themes.theme1.fcolor2Text %}
  {% set btnColor = themes.theme1.btnColor %}
  {% set btnText = themes.theme1.btnText %}
  {% set megaMenuBg = themes.theme1.megaMenuBg %}
  {% set megaMenuFontColor = themes.theme1.megaMenuFontColor %}
  {% set logo = information.networkDetails.whitelogo %}
  {% set footerLogo = information.networkDetails.logo %}
{% elif wdefaults.websitecolours.colourTheme == "Theme2" %}
  {% set bgcolor = themes.theme2.bgcolor %}
  {% set bgText = themes.theme2.bgText %}
  {% set bgTextHighlight = themes.theme2.bgTextHighlight %}
  {% set fcolor1 = themes.theme2.fcolor1 %}
  {% set fcolor1Text = themes.theme2.fcolor1Text %}
  {% set fcolor2 = themes.theme2.fcolor2 %}
  {% set fcolor2Text = themes.theme2.fcolor2Text %}
  {% set btnColor = themes.theme2.btnColor %}
  {% set btnText = themes.theme2.btnText %}
  {% set megaMenuBg = themes.theme2.megaMenuBg %}
  {% set megaMenuFontColor = themes.theme2.megaMenuFontColor %}
  {% set logo = information.networkDetails.logo %}
  {% set footerLogo = information.networkDetails.whitelogo %}
{% elif wdefaults.websitecolours.colourTheme == "Theme3" %}
  {% set bgcolor = themes.theme3.bgcolor %}
  {% set bgText = themes.theme3.bgText %}
  {% set bgTextHighlight = themes.theme3.bgTextHighlight %}
  {% set fcolor1 = themes.theme3.fcolor1 %}
  {% set fcolor1Text = themes.theme3.fcolor1Text %}
  {% set fcolor2 = themes.theme3.fcolor2 %}
  {% set fcolor2Text = themes.theme3.fcolor2Text %}
  {% set btnColor = themes.theme3.btnColor %}
  {% set btnText = themes.theme3.btnText %}
  {% set megaMenuBg = themes.theme3.megaMenuBg %}
  {% set megaMenuFontColor = themes.theme3.megaMenuFontColor %}
  {% set logo = information.networkDetails.logo %}
  {% set footerLogo = information.networkDetails.logo %}
{% elif wdefaults.websitecolours.colourTheme == "Theme4" %}
  {% set bgcolor = themes.theme4.bgcolor %}
  {% set bgText = themes.theme4.bgText %}
  {% set bgTextHighlight = themes.theme4.bgTextHighlight %}
  {% set fcolor1 = themes.theme4.fcolor1 %}
  {% set fcolor1Text = themes.theme4.fcolor1Text %}
  {% set fcolor2 = themes.theme4.fcolor2 %}
  {% set fcolor2Text = themes.theme4.fcolor2Text %}
  {% set btnColor = themes.theme4.btnColor %}
  {% set btnText = themes.theme4.btnText %}
  {% set megaMenuBg = themes.theme4.megaMenuBg %}
  {% set megaMenuFontColor = themes.theme4.megaMenuFontColor %}
  {% set logo = information.networkDetails.logo %}
  {% set footerLogo = information.networkDetails.whitelogo %}
{% elif wdefaults.websitecolours.colourTheme == "Theme5" %}
  {% set bgcolor = themes.theme5.bgcolor %}
  {% set bgText = themes.theme5.bgText %}
  {% set bgTextHighlight = themes.theme5.bgTextHighlight %}
  {% set fcolor1 = themes.theme5.fcolor1 %}
  {% set fcolor1Text = themes.theme5.fcolor1Text %}
  {% set fcolor2 = themes.theme5.fcolor2 %}
  {% set fcolor2Text = themes.theme5.fcolor2Text %}
  {% set btnColor = themes.theme5.btnColor %}
  {% set btnText = themes.theme5.btnText %}
  {% set megaMenuBg = themes.theme5.megaMenuBg %}
  {% set megaMenuFontColor = themes.theme5.megaMenuFontColor %}
  {% set logo = information.networkDetails.whitelogo %}
  {% set footerLogo = information.networkDetails.logo %}
{% else %}
  {% set bgcolor = "#fff" %}
  {% set bgText = "#04263D" %}
  {% set bgTextHighlight = "#575757" %}
  {% set fcolor1 = "#0E76BC" %}
  {% set fcolor1Text = "#ffff" %}
  {% set fcolor2 = "#094E7D" %}
  {% set fcolor2Text = "#fff" %}
  {% set btnColor = "#094E7D" %}
  {% set btnText = "#fff" %}
  {% set megaMenuBg = "#fff" %}
  {% set megaMenuFontColor = "#22222" %}
  {% set logo = information.networkDetails.whitelogo %}
  {% set footerLogo = information.networkDetails.whitelogo %}
{% endif %}
<html lang="en" class="no-js" {% if bgcolor %} style="background-color:{{ bgcolor }}"{% endif %}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:url"           content="{{ information.networkDetails.websiteURL }}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{ information.networkDetails.websiteTitle }}" />
  <meta property="og:description"   content="{{ information.networkDetails.networkDesc }}" />
  <meta property="og:image"         content="/assets/{{ logo }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ information.networkDetails.websiteTitle }}" href="/feed.xml" />
  <link rel="icon" href="/assets{{ information.networkDetails.favicon }}" type="image/png" />
  <script>document.documentElement.classList.remove('no-js');</script>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Lato:wght@400;700&display=swap" rel="stylesheet">  <style>{% include "css/global.css" %}</style>
</head>
<body>
  {% include "partials/global/site-head.njk" %}
  {% block content %}
  {% endblock content %}
  {% include "partials/global/site-footer.njk" %}
</body>
  <a href="#top" class="back-to-top-button">
      <button class="btn-link wide top-button" {% if btnColor %} style="background-color:{{ btnColor }};color:{{ btnText }};"{% endif %}><p class="seven">{{ wdefaults.commonWords.backToTop }}</p></button>
  </a>

</html>
