{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{% block content %}
<main id="main-content" tabindex="-1">
<div class="home-container">
    <section class="intro-banner light">
        {% if pages.homepage.header %}
            {% set header = pages.homepage.header %}
            {% set subtitle = pages.homepage.subtitle | safe %}
                {% include "layouts/intro-banner.njk" %}
        {% endif %}
    </section>
    <section class="big-side-feature light green-bg pop-out">
        {% if pages.homepage.featuretitle %}
                {% set header = pages.homepage.featuretitle %}
                {% set subtitle = pages.homepage.featurecontent | safe %}
                {% set img = '/uploads/sdsn-antarc.png' %}
                {% include "partials/components/big-side-feature.njk" %}
        {% endif %}
    </section>
</div>
</main>
{% endblock %}
