<div class="intro-banner-wrapper">
    <div class="intro-banner-title">
      <h1>{{ header }}</h1>
    </div>
    <div class="intro-banner-body banner-sub-title">
      <p>{{ subtitle }}</p>
    </div>
</div>
{{ content | safe }}
