<div class="intro-banner-wrapper">
    <div class="intro-banner-title">
      <h1>{{ introHeader }}</h1>
    </div>
    <div class="intro-banner-body banner-sub-title">
      {{ introSubtitle }}
    </div>
</div>
{{ content | safe }}
