{% extends 'layouts/base.njk' %}

{% block content %}
<main id="main-content" tabindex="-1">
  <div class="home-container">
    <section class="intro-banner with-logo" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
      <div class="intro-banner-wrapper">
        <div class="intro-banner-title">
          <h1>{{ title }}</h1>
        </div>
      </div>

    <div class="content-container" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
        <h4>{{ pageContent | safe }}</h4>
        {{ content | safe }}
    </div>
  </div>
</main>
{% endblock %}
