<div class="section-banner-wrapper">
    <div class="section-banner-title">
      <h1>{{ header | safe }}</h1>
    </div>
    <div class="section-banner-body banner-sub-title">
      <p>{{ subtitle | safe }}</p>
    </div>
    {% include "partials/components/cta-button.njk" %}
</div>
{{ content | safe }}