{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{% block content %}
<main id="main-content" tabindex="-1">
<div class="about-container">
  <section class="intro-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if information.networkInfo %}
        {% set header = AboutTheNetwork.bannerTitle | safe %}
        {% set subtitle = AboutTheNetwork.aboutsdsn | safe %}
            {% include "layouts/intro-banner.njk" %}
    {% endif %}
  </section>
  <section class="section-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if information.networkInfo %}
        {% set header = information.networkInfo.networkName | safe %}
        {% set subtitle = AboutTheNetwork.networkdesc | safe %}
        {% set cta = information.networkInfo.networkName if information.networkInfo.networkName else '' %}
        {% set ctaLink = information.networkInfo.networkName if information.networkInfo.networkName else '' %}
        {% set ctaColour = bgText %}   
            {% include "layouts/section-banner.njk" %}
    {% endif %}
  </section>
    <section class="feature-banner">
        {% if information.networkInfo.networkObjectives %}
            {% set item = information.networkInfo.networkObjectives %}
                {% include "partials/components/large-feature.njk" %}
        {% endif %}
    </section>
    <section class="full-bleed" {% if fcolor1 %} style="background-color:{{ fcolor1 }};color:{{ fcolor1Text }}"{% endif %}>
        {% if information.networkInfo.networkObjectives %}
            {% set header = information.networkInfo.networkVision | safe %}
            {% set cta = information.networkInfo.networkName if information.networkInfo.networkName else '' %}
            {% set ctaLink = information.networkInfo.networkName if information.networkInfo.networkName else '' %}
            {% set ctaColour = fcolor1Text %}
                {% include "partials/components/full-bleed.njk" %}
        {% endif %}
    </section>
    <section class="one-image-two-text" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
        {% if information.networkInfo.networkObjectives %}
            {% set pretext = 'HOSTED BY' | safe %}
            {% for host in information.networkInfo.hostInstitution %}
                {% set header = host.hostInstitution | safe %}
                {% set logoImg = host.hiLogo %}
                {% set ctaColour = bgText %}
                {% set actionContent = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis mattis dolor, eu dapibus nisi lacinia eu. Fusce id mauris rhoncus, fermentum justo vitae, tempor arcu. Vivamus fermentum ex ut mauris feugiat convallis. Fusce cursus diam vel nunc lobortis, nec finibus orci lacinia.' %}
                {% include "partials/components/one-image-two-text.njk" %}
            {% endfor %}
        {% endif %}
    </section>
    <section class="text-top-metrics-bottom pop-out" {% if fcolor2Text %} style="color:{{ fcolor2Text }};background-color:{{ fcolor2 }}"{% endif %}>
    {% if AboutTheNetwork.networkmetrics %}
        {% set desc = AboutTheNetwork.networkimpact | safe %}
        {% set item = AboutTheNetwork.networkmetrics %}
            {% include "partials/components/text-top-metrics-bottom.njk" %}
    {% endif %}
    </section>
</div>
</main>
{% endblock %}
