{% extends 'layouts/base.njk' %}
{% set pageType = 'About Network' %}

{% block content %}
<main id="main-content" tabindex="-1">
<div class="about-container">
  <section class="intro-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if pages.about.aboutPage %}
        {% set introHeader = pages.about.aboutPage.bannerTitle %}
        {% set introSubtitle = pages.about.aboutPage.aboutsdsn | safe %}
            {% include "layouts/intro-banner.njk" %}
    {% endif %}
  </section>
  <section class="section-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if information.networkDetails %}
        {% set header = information.networkDetails.networkName %}
        {% set subtitle = information.networkDetails.networkdesc | safe %}
            {% include "layouts/section-banner.njk" %}
    {% endif %}
  </section>
    <section class="feature-banner">
        {% if information.networkDetails.networkObjectives %}
            {% set item = information.networkDetails.networkObjectives %}
                {% include "partials/components/large-feature.njk" %}
        {% endif %}
    </section>
    <section class="full-bleed" {% if fcolor1 %} style="background-color:{{ fcolor1 }};color:{{ fcolor1Text }}"{% endif %}>
        {% if information.networkDetails.networkVision %}
            {% set fbHeader = information.networkDetails.networkVision %}
                {% include "partials/components/full-bleed.njk" %}
        {% endif %}
    </section>
    <section class="one-image-two-text" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
        {% if information.hostInformation.hostInstitution %}
            {% set pretext = pages.about.aboutPage.hostedPretext %}
            {% for host in information.hostInformation.hostInstitution %}
                {% set header = host.hiName %}
                {% set logoImg = host.hiLogo %}
                {% set actionContent = host.hiDescription | safe %}
                {% if host.hiLink | length !== 0 %}
                    {% set ctaColour = bgText %}
                    {% set oneTwoCta = pages.about.aboutPage.hostCtaText %}
                    {% set ctaLink = host.hiLink | safe %}
                {% endif %}
                {% include "partials/components/one-image-two-text.njk" %}
            {% endfor %}
        {% endif %}
    </section>
    <section class="text-top-metrics-bottom pop-out" {% if fcolor2Text %} style="color:{{ fcolor2Text }};background-color:{{ fcolor2 }}"{% endif %}>
    {% if information.networkDetails.impactSection == true %}
        {% set ttmheader = pages.about.aboutPage.metricsheader %}
        {% set ttmdesc = information.networkDetails.networkimpact | safe %}
        {% set ttmitem = information.networkDetails.networkmetrics %}
            {% include "partials/components/text-top-metrics-bottom.njk" %}
    {% endif %}
    </section>
</div>
<div class="footer-push"></div>
</main>
{% endblock %}
