
{% extends 'layouts/base.njk' %}

{% block content %}
<main id="main-content" tabindex="-1">
    <div class="two-half-container" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
                    {% include "partials/components/two-half-map.njk" %}
    </div>

</main>
{% endblock %}
