{% extends 'layouts/base.njk' %}
{% set previousPost = collections.eventsArticles | getPreviousCollectionItem(page) %}
{% set nextPost = collections.eventsArticles  | getNextCollectionItem(page) %}

{% block content %}
<title>{{ title }}</title>
  <main id="main-content" class="content-colour" tabindex="-1">
    <div class="content-container events">
        {% set previousPage = "/events" %}
        {% set previousPageText = pages.involved.eventsPage.previousPageText %}
        {% include "partials/components/breadcrumbs.njk" %}
      <div class="news-page-title-info">
            <div class="resource-card-content">
                <div class="resource-card-content-left">
                    <div class="events-page-img">
                        {% if fImage !== "" %}
                        <img src="/assets{{ fImage }}" class="news-img" /> 
                        {% else %} 
                        <div class="img-replacement">
                            <img src="/assets{{ logo }}" class="img-replacement" />
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="resource-card-content-right">
                    <h3>{{ date | date }}</h3>
                    <h2>{{ title }}</h2>
                    <h4>{{ wdefaults.commonWords.by }} {{ author }}</h4>
                    <a href="{{ ctaURL }}" class="resource-link width-50 animate">
                     {% set buttonCTA = ctaTitle %}
                          {% include "partials/components/btn.njk" %}
                    </a>
                </div>
            </div>
            <div class="news-page-supp-line">
            </div>
            <div class="resource-card-content">
                <div class="resource-card-content-left">
                    <h3>{{ wdefaults.commonWords.description }}</h3>
                    <div class="news-page-content">
                        {{ content | safe }}
                    </div>
                </div>
                <div class="resource-card-content-right">
                    <h3>{{ wdefaults.commonWords.dateTime }}</h3>
                    {{ date | date("MMMM Do YYYY")}}

                    <h3>{{ wdefaults.commonWords.location }}</h3>
                    {{ location | safe }}
                    <div class="post-list-tags margin-top-1">
                    {% for tag in tags %}
                    <a href="/tags/{{ tag }}/"><p class="tag-item">
                        {{ tag }}
                    </p></a>
                    {% endfor %}
                    </div>
                </div>
            </div>
      </div>
      <div class="social-media-share-container">
        {% include "partials/components/facebook-btn.njk" %}
        {% include "partials/components/linkedin-btn.njk" %}
        {% include "partials/components/twitter-btn.njk" %}
      </div>
    </div>
  </main>
{% endblock %}

