{% extends 'layouts/base.njk' %}

{% block content %}
<main id="main-content" tabindex="-1">
<div class="resource-landing-container">
  <section class="intro-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if information.networkInfo %}
        {% set header =  pages.eventsPage.header %}
        {% set subtitle = pages.eventsPage.subtitle | safe %}
            {% include "layouts/intro-banner.njk" %}
    {% endif %}
  </section>
  <section class="full-bleed resources-bg">
    <div class="content-container ">
    {% set sectionList = collections.eventsArticles %}
    {% include "partials/components/events-list.njk" %}
    </div>
</section>

</div>
</main>
{% endblock %}
