{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{% block content %}
<main id="main-content" tabindex="-1">
<div class="home-container">
    <section class="intro-banner light">
        {% if pages.homepage.header %}
            {% set header = pages.homepage.header %}
            {% set subtitle = pages.homepage.subtitle | safe %}
                {% include "layouts/intro-banner.njk" %}
        {% endif %}
    </section>
    {% set fcolor1 = colourscheme.fcolor1 %}
    <section class="big-side-feature light pop-out" {% if fcolor1 %} style="background-color:{{ fcolor1 }}"{% endif %}>
        {% if pages.homepage.featuretitle %}
                {% set header = pages.homepage.featuretitle %}
                {% set subtitle = pages.homepage.featurecontent | safe %}
                {% set img = '/uploads/sdsn-antarc.png' %}
                {% include "partials/components/big-side-feature.njk" %}
        {% endif %}
    </section>
    <section class="section-banner light">
        {% set header = 'Recent News' %}
        {% set subtitle = 'Read more about our current work' %}
        {% include "layouts/section-banner.njk" %}
    </section>
    <section class="resource-feature-banner light">
        {% include "partials/components/resource-feature-banner.njk" %}
    </section>
    {% set fcolor1 = colourscheme.fcolor1 %}
    <section class="contact-us-banner light pop-out" {% if fcolor1 %} style="background-color:{{ fcolor1 }}"{% endif %}>
        {% set header = 'Contact us' %}
        {% set cta = 'Get in touch at ' %}
        {% set email = information.networkInfo.networkEmail %}
        {% include "partials/components/contact-us-banner.njk" %}
    </section>
</div>
</main>
{% endblock %}
