{% extends 'layouts/base.njk' %}

{% block content %}
<main id="main-content" tabindex="-1">
<div class="get-involved-container">
  <section class="intro-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if information.networkInfo %}
        {% set header = pages.getInvolvedPage.header %}
        {% set subtitle = pages.getInvolvedPage.subtitle | safe %}
            {% include "layouts/intro-banner.njk" %}
    {% endif %}
  </section>
    <section class="text-top-metrics-bottom" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if pages.getInvolvedPage.memberBenefits %}
        {% set header = pages.getInvolvedPage.ourImpactHeader %}
        {% set desc = pages.getInvolvedPage.ourImpactSubTitle | safe %}
        {% set item = pages.getInvolvedPage.memberBenefits %}
            {% include "partials/components/text-top-metrics-bottom.njk" %}
    {% endif %}
    </section>
    <section class="section-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
        {% if pages.getInvolvedPage %}
            {% set header = pages.getInvolvedPage.joinHeader | safe %}
            {% set subtitle = pages.getInvolvedPage.joinSubtitle | safe %}
            {% if pages.getInvolvedPage.joinCta %}
                {% set cta = pages.getInvolvedPage.joinCta  %}
                {% set ctaLink = pages.getInvolvedPage.joinCtaURL %}
            {% endif %}
            {% set ctaColour = bgText %}
                {% include "layouts/section-banner.njk" %}
        {% endif %}
    </section>
    <section class="contact-us-banner" {% if fcolor1 %} style="background-color:{{ fcolor1 }};color:{{ fcolor1Text }};"{% endif %}>
        {% set header = 'Want to learn more?' %}
        {% set cta = 'Get in touch at ' %}
        {% set ctaColour = fcolor1Text %}
        {% include "partials/components/contact-us-banner.njk" %}
    </section>
</div>
</main>
{% endblock %}
