{% extends 'layouts/base.njk' %}

{% block content %}
<main id="main-content" tabindex="-1">
<div class="home-container">
  <section class="intro-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if information.networkInfo %}
        {% set header = 'Join the network' | safe %}
        {% set subtitle = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis mattis dolor, eu dapibus nisi lacinia eu. Fusce id mauris rhoncus, fermentum justo vitae, tempor arcu.' | safe %}
            {% include "layouts/intro-banner.njk" %}
    {% endif %}
  </section>
    <section class="text-top-metrics-bottom" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if AboutTheNetwork.networkmetrics %}
        {% set desc = AboutTheNetwork.networkimpact | safe %}
        {% set item = AboutTheNetwork.networkmetrics %}
            {% include "partials/components/text-top-metrics-bottom.njk" %}
    {% endif %}
    </section>
    <section class="section-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
        {% if information.networkInfo %}
            {% set header = 'Member Requirements' | safe %}
            {% set subtitle = AboutTheNetwork.networkdesc | safe %}
            {% set cta = information.networkInfo.networkName if information.networkInfo.networkName else '' %}
            {% set ctaLink = information.networkInfo.networkName if information.networkInfo.networkName else '' %}
            {% set ctaColour = bgText %}
                {% include "layouts/section-banner.njk" %}
        {% endif %}
    </section>
    <section class="contact-us-banner" {% if fcolor1 %} style="background-color:{{ fcolor1 }};color:{{ fcolor1Text }};"{% endif %}>
        {% set header = 'Want to learn more?' %}
        {% set cta = 'Get in touch at ' %}
        {% set email = information.networkInfo.networkEmail %}
        {% set ctaColour = fcolor1Text %}
        {% include "partials/components/contact-us-banner.njk" %}
    </section>
</div>
</main>
{% endblock %}
