{% extends 'layouts/base.njk' %}
{% set pageType = 'About the Team' %}

{% block content %}
{% if pages.sdgs.sdgsPage.toggle == true %}
<title>{{ pages.sdgs.sdgsPage.header  }}</title>
<main id="main-content" tabindex="-1">
<div class="home-container">
  <section class="intro-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if pages.sdgs.sdgsPage %}
        {% set introHeader = pages.sdgs.sdgsPage.header %}
        {% set introSubtitle = pages.sdgs.sdgsPage.subtitle | safe %}
            {% include "layouts/intro-banner.njk" %}
    {% endif %}
  </section>
    <section class="full-bleed" {% if fcolor2 %} style="background-color:{{ fcolor2 }};color:{{ fcolor2Text }};"{% endif %}>
        {% if information.networkDetails.networkObjectives %}
            {% set header = pages.sdgs.sdgsPage.sdgsHeader %}
            {% set subtitle = pages.sdgs.sdgsPage.sdgsSubtitle | safe %}
            {% set sbCta = pages.sdgs.sdgsPage.sdgsCta %}
            {% set ctaLink = pages.sdgs.sdgsPage.sdgsCtaURL %}
            {% set ctaColour = fcolor2Text %}
            {% set imgList = wdefaults.sdgIcons.tImages %}
            {% include "layouts/section-banner.njk" %}
            {% include "partials/components/tiled-imgs.njk" %}
        {% endif %}
    </section>
    <section class="one-image-two-text" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
        {% for ft in pages.sdgs.sdgsPage.featuredActions %}
            {% set pretext = ft.pretextFeature | safe %}
            {% set header = ft.featureHeader | safe %}
            {% set actionContent = ft.featureSubtitle %}
            {% set oneTwoCta = ft.featureCta %}
            {% set ctaLink = ft.featureCtaURL %}
            {% set ctaColour = bgText %}
            {% set logoImg = ft.featureImg %}
            {% include "partials/components/one-image-two-text.njk" %}
        {% endfor %}
    </section>
</div>
</main>
{% endif %}
{% endblock %}
