{% extends 'layouts/base.njk' %}
{% set pageType = 'About the Team' %}

{% block content %}
<main id="main-content" tabindex="-1">
<div class="home-container">
Local SDGs

</div>
</main>
{% endblock %}
