{% extends 'layouts/base.njk' %}
{% set pageType = 'About the Team' %}

{% block content %}
<main id="main-content" tabindex="-1">
<div class="home-container">
  <section class="intro-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if information.networkInfo %}
        {% set header = 'SDGs in Antarctica' | safe %}
        {% set subtitle = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis mattis dolor, eu dapibus nisi lacinia eu. Fusce id mauris rhoncus, fermentum justo vitae, tempor arcu.' | safe %}
            {% include "layouts/intro-banner.njk" %}
    {% endif %}
  </section>
    <section class="full-bleed" {% if fcolor2 %} style="background-color:{{ fcolor2 }};color:{{ fcolor2Text }};"{% endif %}>
        {% if information.networkInfo.networkObjectives %}
            {% set header = 'The Sustainable Development Goals' | safe %}
            {% set subtitle = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis mattis dolor, eu dapibus nisi lacinia eu. Fusce id mauris rhoncus, fermentum justo vitae, tempor arcu.' | safe %}
            {% set cta = 'Learn more about the SDGs' %}
            {% set ctaLink = '/join' %}
            {% set ctaColour = fcolor2Text %}
            {% include "layouts/section-banner.njk" %}
            {% include "partials/components/sdgs.njk" %}
        {% endif %}
    </section>
    <section class="one-image-two-text" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
        {% if information.networkInfo.networkObjectives %}
            {% set pretext = 'ACTION BY' | safe %}
            {% set header = 'Government' | safe %}
            {% set actionContent = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis mattis dolor, eu dapibus nisi lacinia eu. Fusce id mauris rhoncus, fermentum justo vitae, tempor arcu.' %}
            {% set cta = 'Read more on government website' %}
            {% set ctaLink = '/join' %}
            {% set ctaColour = bgText %}
            {% include "partials/components/one-image-two-text.njk" %}
        {% endif %}
    </section>
</div>
</main>
{% endblock %}
