{% extends 'layouts/base.njk' %}

{% block content %}
{% if pages.what.newsPage.toggle == true %}
<title>{{ pages.what.newsPage.header }}</title>
<main id="main-content" tabindex="-1">
<div class="home-container">
  <section class="intro-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if pages.what.newsPage %}
        {% set introHeader = pages.what.newsPage.header %}
        {% set introSubtitle = pages.what.newsPage.subtitle | safe %}
            {% include "layouts/intro-banner.njk" %}
    {% endif %}
  </section>
  <section class="full-bleed resources-bgs">
    <div class="content-container">
        {% include "partials/components/pagination.njk" %}
        {% include "partials/components/news-list.njk" %}
    </div>
  </section>
    <section class="intro-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if information.networkDetails %}
        {% set introHeader = pages.what.newsPage.globalHeader | safe %}
        {% set introSubtitle = pages.what.newsPage.globalSubtitle | safe %}
            {% include "layouts/intro-banner.njk" %}
    {% endif %}
  </section>
  <section class="full-bleed resources-bgs">
    <div class="content-container ">
      <div class="rss-post-list">
        <script src="//rss.bloople.net/?url=https%3A%2F%2Fwww.unsdsn.org%2Ffeed%2Frss2&detail=40&limit=4&showtitle=false&type=js"></script>      
      </div>
        {% set ctaLink = "https://unsdsn.org/"%}
        {% set cta = pages.what.newsPage.globalCTA %}
        {% set external = true %}
        {% include "partials/components/cta-button.njk" %}
    </div>
  </section>
</div>
</main>
{% endif %}
{% endblock %}
