{% extends 'layouts/base.njk' %}

{% block content %}
<main id="main-content" tabindex="-1">
    <div class="post-list-container">
        {% set sectionList = collections.newsArticles %}
        {% include "partials/components/post-list.njk" %}
    </div>
</main>
{% endblock %}
