{% extends 'layouts/base.njk' %}

{% block content %}
<main id="main-content" tabindex="-1">
<div class="home-container">
  <section class="intro-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if information.networkInfo %}
        {% set header = 'News' | safe %}
        {% set subtitle = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis mattis dolor, eu dapibus nisi lacinia eu. Fusce id mauris rhoncus, fermentum justo vitae, tempor arcu.' | safe %}
            {% include "layouts/intro-banner.njk" %}
    {% endif %}
  </section>
  <section class="full-bleed" {% if fcolor2 %} style="background-color:{{ fcolor2 }};color:{{ fcolor2Text }}"{% endif %}>
    {% set sectionList = collections.newsArticles %}
    {% include "partials/components/post-list.njk" %}
</section>

</div>
</main>
{% endblock %}
