{% extends 'layouts/base.njk' %}

{% block content %}
 <section class="intro-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
            <div class="section-banner-wrapper">
                <div class="section-banner-title">
                    {% set introHeader = 'Search' %}
                    <h1>{{ introHeader | safe }}</h1>
                </div>
                <div class="section-banner-body banner-sub-title">
                    {% set introSubtitle = 'Search this site' | safe %}
                    <p>{{ introSubtitle | safe }}</p>
                    {{ content | safe }}
                
                <input type="search" placeholder="Search..." id="searchField" class="search" required />

                </div>
</section>    
<section class="intro-banner resources-bgs">
    <div class="section-banner-wrapper">
        <div class="search-section">
            <label for="searchField"></label>
                <ol id="searchResults" />

        <!--Only 5.7kb GZipped. You may want to bundle this with your application code. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
      </div>
            </div>

            <div class="section-banner-wrapper">
                <div class="section-banner-title">
                    {% set tagHeader = 'Tagged posts' %}
                    <h1>{{ tagHeader | safe }}</h1>
                </div>
                <div class="section-banner-body banner-sub-title">
                    {% set tagSubtitle = 'Search via tags' | safe %}
                    <p>{{ tagSubtitle | safe }}</p>
                    <ul>
                    {% for tag in collections.tagList %}
                        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                        <li><a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a> ({{ collections[tag].length }})</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        <h2></h2>


      
        
      </section>
  </main>
{% endblock %}

<script>

(function(window, document) {
    "use strict";
  
    const search = e => {
      const results = window.searchIndex.search(e.target.value);
  
      const resEl = document.getElementById("searchResults");
      resEl.innerHTML = "";
      if (results && results.length > 0) {
        results.map(r => {
          const { id, title } = r.doc;
  
          // this is where you'll go wild with your own HTML injection.
          const el = document.createElement("li");
          resEl.appendChild(el);
  
          const h6 = document.createElement("h6");
          el.appendChild(h6);
  
          const a = document.createElement("a");
          a.setAttribute("href", id);
          a.textContent = title;
          h6.appendChild(a);
  


        });
      }
    };
  
    fetch("/search-index.json").then(response =>
      response.json().then(rawIndex => {
        window.searchIndex = elasticlunr.Index.load(rawIndex);
        document.getElementById("searchField").addEventListener("input", search);
      })
    );
  })(window, document);
  
</script>