{% extends 'layouts/base.njk' %}
{% set pageType = 'About the Team' %}

{% block content %}
<main id="main-content" tabindex="-1">
<div class="home-container">
  <section class="intro-banner light">
    {% if information.networkInfo %}
        {% set header = 'What we do' | safe %}
        {% set subtitle = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis mattis dolor, eu dapibus nisi lacinia eu. Fusce id mauris rhoncus, fermentum justo vitae, tempor arcu.' | safe %}
            {% include "layouts/intro-banner.njk" %}
    {% endif %}
  </section>

</div>
</main>
{% endblock %}
