{% extends 'layouts/base.njk' %}
{% set pageType = 'About the Team' %}

{% block content %}
{% if pages.what.ourMembers.toggle == true %}
<title>{{ pages.what.ourMembers.header }}</title>
<main id="main-content" tabindex="-1">
<div class="what-we-do-container">
  <section class="intro-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if pages.what.ourMembers %}
        {% set introHeader = pages.what.ourMembers.header | safe %}
        {% set introSubtitle = pages.what.ourMembers.memberDesc | safe %}
            {% include "layouts/intro-banner.njk" %}
    {% endif %}
  </section>
    <section class="section-banner as-header" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
        {% set header = pages.what.ourMembers.highlightProjectsHeader %}
        {% set subtitle = pages.what.ourMembers.highlightProjectsSubtitle %}
        {% include "layouts/section-banner.njk" %}
    </section>
    <section class="resource-feature-banner">
        {% set sectionList = collections.all %}
        {% include "partials/components/resource-feature-banner.njk" %}
    </section>
    <section class="full-bleed" {% if fcolor2 %} style="background-color:{{ fcolor2 }};color:{{ fcolor2Text }};"{% endif %}>
        {% set header = pages.what.ourMembers.memberTitle %}
        {% set subtitle = pages.what.ourMembers.memberSubtitle | safe %}
        {% include "layouts/section-banner.njk" %}
        {% if pages.what.ourMembers.featuredMembers == true %}
            {% set imgList = pages.what.ourMembers.tImages %}
            {% include "partials/components/tiled-imgs.njk" %}
        {% endif %}
        {% set memberData = information.networkDetails.membersList %}
        {% include "partials/components/table-section.njk" %}
    </section>
    <section class="contact-us-banner containers pop-out">
        <div class="popped-container-right" {% if fcolor1 %} style="background-color:{{ fcolor1 }};color:{{ fcolor1Text }};"{% endif %}>
        {% set contactHeader = pages.what.ourMembers.contactTitle %}
        {% set cta = pages.what.ourMembers.contactCTA %}
        {% set ctaLink = pages.what.ourMembers.contactCTAURL%}
        {% set ctaColour = fcolor1Text %}
        {% include "partials/components/contact-us-banner.njk" %}
        </div>
    </section>
</div>
</main>
{% endif %}
{% endblock %}
