{% extends 'layouts/base.njk' %}
{% set pageType = 'About the Team' %}

{% block content %}
<main id="main-content" tabindex="-1">
<div class="what-we-do-container">
  <section class="intro-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
    {% if pages.ourMembers %}
        {% set introHeader = pages.ourMembers.header | safe %}
        {% set introSubtitle = pages.ourMembers.subtitle | safe %}
            {% include "layouts/intro-banner.njk" %}
    {% endif %}
  </section>
    <section class="section-banner as-header" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
        {% set header = pages.ourMembers.highlightProjectsHeader %}
        {% set subtitle = pages.ourMembers.highlightProjectsSubtitle %}
        {% include "layouts/section-banner.njk" %}
    </section>
    <section class="resource-feature-banner">
        {% set sectionList = collections.newsArticles %}
        {% include "partials/components/resource-feature-banner.njk" %}
    </section>
    <section class="full-bleed" {% if fcolor2 %} style="background-color:{{ fcolor2 }};color:{{ fcolor2Text }};"{% endif %}>
        {% set header = pages.ourMembers.memberTitle %}
        {% set subtitle = pages.ourMembers.memberSubtitle %}
        {% include "partials/components/table-section.njk" %}
    </section>
    <section class="contact-us-banner" {% if fcolor1 %} style="background-color:{{ fcolor1 }};color:{{ fcolor1Text }};"{% endif %}>
        {% set contactHeader = pages.ourMembers.contactTitle %}
        {% set cta = pages.ourMembers.contactCTA %}
        {% set ctaLink = pages.ourMembers.contactCTAURL %}
        {% set ctaColour = fcolor1Text %}
        {% include "partials/components/contact-us-banner.njk" %}
    </section>
</div>
</main>

{% endblock %}
