---
title: Tag Archive
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - newsArticles
  addAllPagesToCollections: true
permalink: /tags/{{ tag }}/
---

{% extends 'layouts/base.njk' %}

{# Post list content #}
{% set postListHeadingLevel = '2' %}
{% set postListHeading = 'Posts' %}
{% set sectionList = collections[tag] %}

{% block content %}
  <div class="content-container " {% if bgText %} style="color:{{ bgText }}"{% endif %}>
  <h1>Tagged under "{{ tag }}"</h1>
    {% include "partials/components/news-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </div>
{% endblock %}
