---
title: Tag Archive
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - newsArticles
    - resourceArticles
    - eventsArticles
  addAllPagesToCollections: true
permalink: /tags/{{ tag }}/
---

{% extends 'layouts/base.njk' %}

{# Post list content #}
{% set postListHeadingLevel = '2' %}
{% set postListHeading = 'Posts' %}
{% set sectionList = collections[tag] %}

{% block content %}
<main id="main-content" tabindex="-1">
  <div class="resource-landing-container">
    <section class="intro-banner" {% if bgText %} style="color:{{ bgText }}"{% endif %}>
              <div class="intro-banner-wrapper">
                <div class="intro-banner-title">
                  <h1>Tagged under "{{ tag }}"</h1>
                </div>
              </div>
    </section>
    <section class="full-bleed resources-bg">
      <div class="content-container">
        {% include "partials/components/news-list.njk" %}
        {% include "partials/components/pagination.njk" %}
      </div>
    </section>
  </div>
</main>
{% endblock %}
